In [ ]:
!git clone https://github.com/vistec-AI/thai2transformers
!git clone https://github.com/PyThaiNLP/pythainlp.git
!cp /content/thai2transformers/thai2transformers/preprocess.py /content

!pip install transformers
!pip install sentencepiece
!pip install pythainlp
!pip install pythainlp[translate]
!pip install emoji

In [ ]:
!cp /content/drive/MyDrive/ccs_synthetic_sub/en_th.py  /usr/local/lib/python3.7/dist-packages/pythainlp/translate
!cp /content/drive/MyDrive/ccs_synthetic_sub/core.py /usr/local/lib/python3.7/dist-packages/pythainlp/translate

In [ ]:
# !cp -R /content/pythainlp/pythainlp/translate /usr/local/lib/python3.7/dist-packages/pythainlp/

In [ ]:
import os
import cv2
import gc
import numpy as np
import pandas as pd
import itertools
from tqdm.autonotebook import tqdm
import albumentations as A
import matplotlib.pyplot as plt

import torch
from torch import nn
import torch.nn.functional as F
from transformers import (
    CamembertModel,
    CamembertTokenizer,
    CamembertConfig,
)
from pythainlp.translate import Translate
from preprocess import process_transformers

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  import sys

## experimental sect

In [ ]:
# import os
# import tarfile
# from collections import defaultdict

# from pythainlp.corpus import download, get_corpus_path
# from pythainlp.tools import get_full_data_path, get_pythainlp_data_path

# from fairseq.models.transformer import TransformerModel
# from sacremoses import MosesTokenizer


# _EN_TH_MODEL_NAME = "scb_1m_en-th_moses"
# # SCB_1M-MT_OPUS+TBASE_en-th_moses-spm_130000-16000_v1.0.tar.gz
# _EN_TH_FILE_NAME = "SCB_1M-MT_OPUS+TBASE_en-th_moses-spm_130000-16000_v1.0"

In [ ]:
# def _get_translate_path(model: str, *path: str) -> str:
#     return os.path.join(get_full_data_path(model), *path)

# def _download_install(name: str) -> None:
#     if get_corpus_path(name) is None:
#         downlaoad(name, force=True, version="1.0")
#         tar = tarfile.open(get_corpus_path(name), "r:gz")
#         tar.extractall()
#         tar.close()
#     if not os.path.exists(get_full_data_path(name)):
#         os.mkdir(get_full_data_path(name))
#         with tarfile.open(get_corpus_path(name)) as tar:
#             tar.extractall(path=get_full_data_path(name))

In [ ]:
# " ".join(tokenizer.tokenize(['dog is swim?', 'Apple mango']))

In [ ]:
# model.translate(['is he swimming ?', 'mango'])

In [ ]:
# en2th = Translate('en', 'th', False)

In [ ]:
# df.sample(10)

In [ ]:
# caption = []
# result = model.translate(["swim", "apple"])
# result = [word.replace(" ", "").replace("‚ñÅ", " ").strip() for word in result]
# caption = caption.append(result)
# print(result)
# print(caption)

In [ ]:
# test = df.values.tolist()

In [ ]:
# caption_th = []
# for chunk in dataloader:
#     print(len(chunk))
#     caption_th.append(model.translate(chunk))
#     break
# caption_th

In [ ]:
# tokenizer = MosesTokenizer("en")
# model = TransformerModel.from_pretrained(
#             model_name_or_path=_get_translate_path(
#                 _EN_TH_MODEL_NAME,
#                 _EN_TH_FILE_NAME,
#                 "models",
#             ),
#             checkpoint_file="checkpoint.pt",
#             data_name_or_path=_get_translate_path(
#                 _EN_TH_MODEL_NAME,
#                 _EN_TH_FILE_NAME,
#                 "vocab",
#             ),
#         )

In [ ]:
# class CustomDataSet(torch.utils.data.Dataset):
#     def __init__(self, caption):
#         self.cap = caption
    
#     def __getitem__(self, idx):
#         return list(self.cap[idx])

#     def __len__(self):
#         return len(self.cap)

In [ ]:
# dataset = CustomDataSet(df.values.tolist())
# dataloader = torch.utils.data.DataLoader(
#         dataset,
#         batch_size=32,
#         num_workers=2,
#         shuffle=False,
#     )

## end exp sect

## dataloader

In [ ]:
# this load data from my google drive
df = pd.read_csv('/content/drive/MyDrive/ccs_synthetic_sub/ccs_synthetic_01.csv')
dfs = pd.read_csv('/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01.csv')
df.drop(columns=['url'], inplace=True)

In [ ]:
df

                                                  caption
0             an empty chair sitting in front of a window
1       a house under construction with a building bei...
2                a little boy that is sitting in a basket
3             a man in an apron working on crates of fish
4       a view from a bridge over a river in central park
...                                                   ...
999995        football player is awarded a matchday match
999996  a collection of hand drawn sea adventures illu...
999997  person wearing an outfit with guitar straps an...
999998  a white and green diagram of a circuit with a ...
999999  a man rows his canoe on a quiet lake surrounde...

[1000000 rows x 1 columns]

In [ ]:
# dfs_00 = pd.read_csv('/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01_00.csv')
lens_cap = len(dfs.values.tolist()) # + len(dfs_00)
caption_th = []
en2th = Translate('en', 'th', True)

for i in tqdm(range(lens_cap, len(df["caption"]))):
  sentences = df.iloc[i, 0]
  caption_th.append(process_transformers(en2th.translate(sentences)))
  if i % 1000 == 0:
    df_th = pd.DataFrame(caption_th)
    df_th.to_csv("/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01_00.csv", index=False)

df_th = pd.DataFrame(caption_th)
df_th.to_csv("/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01.csv", index=False)

In [ ]:
dfs = dfs[0:119101]['0']

In [ ]:
dfs.to_csv('/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01.csv', index=False)

In [ ]:
dfss = pd.read_csv('/content/drive/MyDrive/ccs_synthetic_sub/translated_ccs_synthetic_01.csv')

In [ ]:
dfss

                                                        0
0                      ‡πÄ‡∏Å‡πâ‡∏≤‡∏≠‡∏µ‡πâ‡∏ß‡πà‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πà‡∏á‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏ô‡πâ‡∏≤‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡πà‡∏≤‡∏á
1                 ‡∏ö‡πâ‡∏≤‡∏ô‡∏†‡∏≤‡∏¢‡πÉ‡∏ï‡πâ‡∏Å‡∏≤‡∏£‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏≠‡∏≤‡∏Ñ‡∏≤‡∏£
2                             ‡πÄ‡∏î‡πá‡∏Å‡∏ô‡πâ‡∏≠‡∏¢‡∏ó‡∏µ‡πà‡∏ô‡∏±‡πà‡∏á‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô‡∏ï‡∏∞‡∏Å‡∏£‡πâ‡∏≤
3                      ‡∏ä‡∏≤‡∏¢‡πÉ‡∏ô‡∏ú‡πâ‡∏≤‡∏Å‡∏±‡∏ô‡πÄ‡∏õ‡∏∑‡πâ‡∏≠‡∏ô<_>‡∏ó‡πç‡∏≤‡∏á‡∏≤‡∏ô‡πÉ‡∏ô‡∏•‡∏±‡∏á‡∏õ‡∏•‡∏≤
4                  ‡∏ß‡∏¥‡∏ß‡∏à‡∏≤‡∏Å‡∏™‡∏∞‡∏û‡∏≤‡∏ô‡πÄ‡∏´‡∏ô‡∏∑‡∏≠‡πÅ‡∏°‡πà‡∏ô‡πâ‡πç‡∏≤‡πÉ‡∏ô‡πÄ‡∏ã‡πá‡∏ô‡∏ó‡∏£‡∏±‡∏•‡∏õ‡∏≤‡∏£‡πå‡∏Ñ
...                                                   ...
119096  ‡πÄ‡∏Ñ‡πâ‡∏Å‡πÅ‡∏ï‡πà‡∏á‡∏á‡∏≤‡∏ô‡∏à‡∏∞‡∏à‡∏±‡∏î‡πÑ‡∏ß‡πâ‡∏™‡πç‡∏≤‡∏´‡∏£‡∏±‡∏ö‡∏Ñ‡∏π‡πà‡∏£‡∏±‡∏Å‡∏ó‡∏µ‡πà‡πÅ‡∏ú‡∏ô‡∏Å‡∏ï‡πâ‡∏≠‡∏ô‡∏£‡∏±‡∏ö...
119097            ‡∏™‡∏≠‡∏á‡∏Ñ‡∏ô‡∏™‡∏ß‡∏°‡∏ä‡∏∏‡∏î‡πÅ‡∏ö‡∏ö‡∏î‡∏±‡πâ‡∏á‡πÄ‡∏î‡∏¥‡∏°<_>‡∏¢‡∏∑‡∏ô‡∏≠‡∏¢‡∏π‡πà‡∏´‡∏ô‡πâ‡∏≤‡∏ï‡∏∂‡∏Å
119098  ‡πÇ‡∏ï‡πä‡∏∞‡∏¢‡∏≤‡∏ß‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏î‡∏≠‡∏Å‡πÑ‡∏°‡πâ‡∏™‡∏µ‡∏Ç‡∏≤‡∏ß‡πÅ‡∏•‡∏∞‡∏™‡∏µ‡∏ä‡∏°‡∏û‡∏π‡πÅ‡∏•‡∏∞‡πÇ‡∏Ñ‡∏°‡πÑ‡∏ü‡πÅ‡∏Ç‡∏ß‡∏ô‡∏à‡∏≤...
119099             ‡∏ö‡∏≤‡∏£‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ß‡∏ô‡πÄ‡∏ö‡∏µ‡∏¢‡∏£‡πå‡∏ó‡∏µ‡πà‡πÇ‡∏£‡∏á‡πÅ‡∏£‡∏°‡∏™‡∏ï‡∏≤‡∏£‡πå‡∏ß‡∏≠‡∏£‡πå‡∏™‡∏Ñ‡πà‡∏∞
119100           ‡∏†‡∏≤‡∏û‡∏Ç‡∏≠‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏ó‡∏µ‡πà‡∏Å‡πà‡∏≠‡∏™‡∏£‡πâ‡∏≤‡∏á‡∏Ç‡∏≠‡∏á‡πÇ‡∏£‡∏á‡πÅ‡∏£‡∏°‡πÉ‡∏Å‡∏•‡πâ‡∏ä‡∏≤‡∏¢‡∏´‡∏≤‡∏î

[119101 rows x 1 columns]